/* Custom Stylesheet */
/**
* Use this file to override Materialize files so you can update
* the core Materialize files in the future
*
* Made By MaterializeCSS.com
*/


@import url(https://fonts.googleapis.com/css?family=Montserrat:700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);

.boxTitle{
  font-weight: 700;
  font-size: 1.0rem;
}



@media only screen and (min-width : 993px) {
  .descTitle{
    font-family: 'Montserrat','Roboto', sans-serif;
    font-weight: 700;
    font-size: 2.35rem;
    margin-top: 0.3rem;
    margin-bottom: 0.0rem;

  }
  .descText{
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.55;
    margin-top: 0.0rem;
    margin-bottom: 1.5rem;
  }

  .descText a{
    font-weight: 400;
  }

  .descLinks{
    margin-top: 0.0rem;
    margin-bottom: 0.5rem;
    padding-bottom: 30px;
  }
  .descLinks a{
    font-size: 0.86rem;
  }
}

@media only screen and (max-width : 992px) {
  .descTitle{
    font-family: 'Montserrat','Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.88rem;
    margin-top: 0.3rem;
    margin-bottom: 0.0rem;

  }
  .descText{
    font-size: 1.28rem;
    font-weight: 300;
    line-height: 1.55;
    margin-top: 0.0rem;
    margin-bottom: 1.2rem;
  }

  .descText a{
    font-weight: 400;
  }

  .descLinks{
    margin-top: 0.0rem;
    margin-bottom: 0.4rem;
    padding-bottom: 24px;
  }
  .descLinks a{
    font-size: 0.86rem;
  }
}


.tagStyle{
  font-weight: 400;
  font-size: 0.86rem;
  color: #9e9e9e;
  margin-top: 0.25rem;

}

html, body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
p {
  color:#212121;
}


.btn-floating {
  color: #bdbdbd;
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: 26px;
  height: 26px;
  line-height: 26px;
  background-color: #bdbdbd;
}

.btn-floating i {
  color: #fafafa;
  font-size: 0.9rem;
  line-height: 26px;
}

.btn-floating:hover {
  background-color: #d32f2f ;
}



@media only screen and (min-width : 993px) {
  .headerFix{
    height: 180px;
  }

  .brandtext{
    font-family: 'Montserrat','Roboto', sans-serif;
    position: relative;
    top:-20px;
    font-weight: 700;
    font-size:  1.6rem;
  }

  .headerNav{
    display: inline;
    position: relative;
    top:-22px;
    word-spacing: 5px;
    font-size: 1.0rem;
    font-weight: 700;
  }
}

@media only screen and (max-width : 992px) {
  .headerFix{
    height: 135px;
  }

  .brandtext{
    font-family: 'Montserrat','Roboto', sans-serif;
    position: relative;
    top:-5px;
    font-weight: 700;
    font-size:  1.4rem;

  }

  .navButton{
    position: relative;
    top: 0px;
    font-size: 2.25rem;
  }
}



a {
  color:#9e9e9e;
  font-weight: 700;
  transition: color 0.25s ease-in-out;
  -webkit-transition: color 0.25s ease-in-out;
  -moz-transition: color 0.25s ease-in-out;
}

.brandtext a {
  color: #E0E0E0;
}

a:hover {
  color: #d32f2f  ;

}

.fade img {
  opacity: 1.0.;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  -webkit-backface-visibility: hidden;
}

.fade:hover img{
  opacity: 0.75;
}

.fade #oben{
  color:#212121;
  transition: color 0.25s ease-in-out;
  -webkit-transition: color 0.25s ease-in-out;
  -moz-transition: color 0.25s ease-in-out;
}

.fade:hover #oben{
  color: #d32f2f  ;
}

.fade #unten{
  color:#b1b1b1;
  transition: color 0.25s ease-in-out;
  -webkit-transition: color 0.25s ease-in-out;
  -moz-transition: color 0.25s ease-in-out;
}

.fade:hover #unten{
  color: #212121;
}

.safari-flicker {
  -webkit-transform:translate3d(0,0,0);
  -webkit-transform-style:preserve-3d;
}
